.header {
    background-color: #4b6043;
}

.body1 {
    background-color: #75975e;
    margin-top: 15%;
    margin-bottom: auto;
}

.body2 {
    background-color: #95bb72;
    margin-top: -10%;
}

.body3 {
    background-color: #c7ddb5;
    margin-top: -10%;
}

.body4 {
    background-color: #e0ecde;
    margin-top: -15%;
}

.member1 {
    background-color: #4e6043;
    color: white
}

.member2 {
    background-color: #5c8b30;
    color: black
}

.member3 {
    background-color: #469101;
    color: black
}

.member4 {
    background-color: #182d0c;
    color: white
}
