.flex-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
  }
  
  .flex-container > div {
    background-color: #87ab69;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .title {
    background-color: #658534;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: medium;
  }
  h2 {
    
  }